html {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    overflow-x: hidden;
}


.background {
    background-color: rgb(240, 240, 240);
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.espace {
    background-color: #0a0a0a3a;
    margin-top: 25%;
}

@media screen and (max-width: 1700px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 30%;
    }
}

@media screen and (max-width: 1545px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 33%;
    }
} 

@media screen and (max-width: 1430px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 38%;
    }
} 

@media screen and (max-width: 1330px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 40%;
    }
} 

@media screen and (max-width: 1230px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 43%;
    }
}

@media screen and (max-width: 1150px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 45%;
    }
}

@media screen and (max-width: 1080px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 48%;
    }
}

@media screen and (max-width: 1010px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 50%;
    }
}

@media screen and (max-width: 960px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 53%;
    }
}

@media screen and (max-width: 920px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 55%;
    }
}

@media screen and (max-width: 870px) {
    .espace {
        background-color: #0a0a0a3a;
        margin-top: 58%;
    }
}



.logo {
    background-color: rgba(240, 240, 240, 0.164);
    border-radius: 30px;
    ;
    position: fixed;
    width: 6%;
    top: 0px;
    padding: 5px;
}





.background-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 120px;
    z-index: 1;
    transition: all 0.5 ease-in-out;
}

.background-menu.scroll {
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 3px rgb(186, 186, 186);
    z-index: 5;
}


.menu {
    position: fixed;
    width: 85%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 5%;
    list-style: none;
    transition: all 0.25s ease-in-out;
}

.menu.scroll {
    height: 70px;
    gap: 10%;
}

.background-image {
    position: absolute;
    filter: blur(5px);
    top: -10px;
    left: -10px;
    /* margin-bottom: 10%; */
    width: 102%;
    height: 102%;
    z-index: -1;
    object-fit: cover;

}



@media screen and (min-width: 765px) {
    .menu .menu-titre .lien-mobile {
        display: none;
    }
}

.menu .menu-titre .lien a {
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: x-large;
    transition: all 0.25s ease;
}

.menu.scroll .menu-titre .lien a {
    color: rgb(0, 0, 0);
}

.menu .menu-titre .lien a:hover:before {
    position: absolute;
    width: 150%;
    height: 150%;
    opacity: 1;
}

.menu .menu-titre .lien a:hover {
    color: rgb(214, 0, 64);
    padding: 3px 0px 3px 0px;
}

.menu .menu-titre .lien a:active {
    color: rgb(114, 114, 114);
}






.prenom_nom {
    position: absolute;
    color: rgb(30, 30, 30);
    margin-top: 2%;
    margin-left: 10%;
}


.page {
    position: absolute;
    top: 100px;
    left: 15%;
    z-index: 1;
}

.mot-page span {
    font-size: 80%;
    color: rgb(185, 185, 185);
}

.mot-page {
    font-size: 300%;
    color: rgb(214, 0, 64);
}

.mot_important {
    font-weight: bold;
    color: rgb(214, 0, 64);
}

.mot_speciaux {
    font-weight: bold;
    color: rgb(0, 100, 214);
}

.mot_page_typing {
    color: rgb(214, 0, 64);
}

.text_gras {
    font-weight: bold;
}



.typing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    color: white;
    z-index: 1;
}


.typing_effect {
    animation-name: writting;
    animation-delay: 0.5s, 0s;
    animation-duration: 2.5s, 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    animation-timing-function: steps(100);
    overflow: hidden;
    white-space: nowrap;
    color: white;
}



@keyframes writting {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}


.icon {
    margin-top: 10%;
}

.social-links {
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.icon .social-links a {
    height: 40px;
    width: 40px;
    background-color: rgb(230, 230, 230);
    margin: 0 20px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.icon .social-links .gitlab a {
    color: #ff5100;
}

.icon .social-links .linkedin a {
    color: #0051ff;
}

.icon .social-links .github a {
    color: #ff9100;
}

.icon .social-links a:hover {
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 5% 5%;
}

a {
    text-decoration: none;
}


@function em($pixels) {
    @if not (unit($pixels)=='px') {
        @error 'Value #{$pixels} must have `px` unit.';
    }

    @return $pixels / 16px * 1em;
}

.toggle-container {
    width: 70px;
    right: 0;
    top: 20px;
    --inactive-color: #a5a5a5;
    position: fixed;
    z-index: 10;
    aspect-ratio: 292 / 142;
    height: em(30px);
    background-color: transparent;
    transition: all 0.1s ease-in-out;

    &:nth-child(1) {
        --active-color: #0a0a0a;
    }

}

.toggle-container:hover {
    width: 75px;
}

.toggle-input {
    appearance: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle {
    width: 80%;
    height: 80%;
    overflow: visible;
}

.toggle-background {
    fill: var(--inactive-color);
    transition: fill .4s;

    .toggle-input:checked+.toggle & {
        fill: var(--active-color);
    }
}

.toggle-circle-center {
    transform-origin: center;
    transition: transform .6s;

    .toggle-input:checked+.toggle & {
        transform: translateX(150px);
    }
}

.toggle-circle {
    transform-origin: center;
    backface-visibility: hidden;
    transition: transform .45s;

    &.left {
        transform: scale(1);

        .toggle-input:checked+.toggle & {
            transform: scale(0);
        }
    }

    &.right {
        transform: scale(0);

        .toggle-input:checked+.toggle & {
            transform: scale(1);
        }
    }
}

.toggle-icon {
    transition: fill .4s;

    &.on {
        fill: var(--inactive-color);

        .toggle-input:checked+.toggle & {
            fill: #fff;
        }
    }

    &.off {
        fill: #eaeaec;

        .toggle-input:checked+.toggle & {
            fill: var(--active-color);
        }
    }
}


@media screen and (max-width: 765px) {

    html {
        Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        overflow-x: hidden;
    }

    .background {
        background-color: rgb(240, 240, 240);
        margin: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

    }

    .logo {
        display: none;
    }

    .lien {
        display: none;
    }

    .background-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 1;
        transition: all 0.5 ease-in-out;
    }
    
    .background-menu.scroll {
        background-color: rgb(240, 240, 240);
        box-shadow: 0px 3px 3px rgb(186, 186, 186);
        z-index: 5;
    }

    .menu {
        position: fixed;
        width: 85%;
        height: 70px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        list-style: none;
        transition: all 0.25s ease-in-out;
    }

    .menu.scroll {
        height: 70px;
        gap: 10%;
    }

    .menu .menu-titre .lien-mobile a {
        display: block;
        color: rgb(255, 255, 255);
        position: relative;
        text-decoration: none;
        font-size: x-large;
        transition: all 0.25s ease;
    }

    .menu.scroll .menu-titre .lien-mobile a {
        color: rgb(0, 0, 0);
    }

    .menu .menu-titre .lien-mobile a:hover:before {
        position: absolute;
        width: 150%;
        height: 150%;
        opacity: 1;
    }

    .menu .menu-titre .lien-mobile a:hover {
        color: rgb(214, 0, 64);
        padding: 3px 0px 3px 0px;
    }

    .menu .menu-titre .lien-mobile a:active {
        color: rgb(114, 114, 114);
    }


    .background-image {
        position: absolute;
        filter: blur(5px);
        top: -10px;
        left: -10px;
        width: 105%;
        height: 105%;
        z-index: -1;
        object-fit: cover;
        overflow-x: hidden;
        scrollbar-width: 100%;

    }

}