html{
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.bloc {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 5%;
    margin : 5%;
}

.titre-paragraphe{
    text-align:justify;
    width : 40%;
}

.img-entreprise{
    width:25%;
    border-radius: 20px;
}

.img-entreprise_organigramme{
    width:100%;
    border-radius: 30px;
}

@media screen and (max-width: 765px) {
    .bloc {
        flex-direction: column;
    }

    .titre-paragraphe{
        width : 90%;
    }

    .titre-paragraphe .titre{
        text-align: center;
    }

    .img-entreprise{
        width:100%;
        border-radius: 20px;
    }

    #img-entreprise2{
        display : none;
    }

    #img-entreprise4{
        display : none;
    }

    #img-entreprise5{
        display : none;
    }
}



