html {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}


.bloc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: -100%;
}

.presentation_moi {
    background-color: rgb(230, 230, 230);
    text-align: justify;
    z-index: 1;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 3px 3px 3px 3px rgb(186, 186, 186);
    border-radius: 20px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.presentation_moi .text_presentation .paragraphe {
    width: 60%;
    text-align: justify;
}

.presentation_moi .text_presentation .cv {
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 115%;
    transition: all 0.5s ease;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;

}

.presentation_moi .text_presentation .cv:before {
    content: '';
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    width: 0%;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.presentation_moi .text_presentation .cv:hover:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.presentation_moi .text_presentation .cv:hover {
    color: rgb(255, 255, 255);
    border: none;
}

.presentation_moi .text_presentation .cv:active {
    color: rgb(114, 114, 114);
    border: none;
}

.photoID {
    border-radius: 30px;
    width: 20%;
}






.container-skillbar {
    background-color: rgb(230, 230, 230);
    box-shadow: 3px 3px 3px 3px rgb(186, 186, 186);
    border-radius: 20px;
    padding: 50px;
    margin: 5%;
    width: 80%;
    padding-top: 30px;
    padding-right: 2%;
    padding-left: 2%;
    height: auto;
    overflow: none;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #ffffff;
    height: 30px;
    border-radius: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skillbar-bar {
    height: 30px;
    width: 0;
    /* Ajustez cette valeur en fonction du pourcentage */
    border-radius: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: width 1s ease-in-out;
    /* Ajoutez une transition pour une animation fluide */
}

.skillbar-title-90 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title-80 {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title-75 {
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title-45 {
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title-30 {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


#skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 30px;
    width: 0;
    border-radius: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: width 1s ease-in-out;
    /* Ajoutez une transition pour une animation fluide */
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
}


.bloc-parcours {
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
}

.scolaire-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width : 700px;
}

/* @media screen and (max-width: 1640px) {
    .parcours {
        width : 450px;
    }
} */

.parcour {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);
    box-shadow: 3px 3px 3px 3px rgb(186, 186, 186);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
    transition: all 0.25s ease;
}

.parcour:hover {
    width: 95%;
}


.fleche_retour_show {
    background: rgb(230, 230, 230);
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
    border-radius: 10px;
    width: 25px;
    cursor: pointer;
    padding: 20px;
    z-index: 10;
}



.projet_details_show {
    position: fixed;
    background: rgb(230, 230, 230);
    bottom: 0%;
    margin: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
    display: wrap;
    flex-wrap: wrap;
    padding: 30px;
    height: 75%;
    overflow: auto;
    z-index: 10;
    border: solid 50px rgb(230, 230, 230)
}


.projet_details_hide {
    display: none;
}

.fleche_retour_hide {
    display: none;
}




.bloc-certification {
    margin-top: 10%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}


.certification {
    margin-top: 50px;
    background-color: rgb(230, 230, 230);
    z-index: 1;
    box-shadow: 3px 3px 3px 3px rgb(186, 186, 186);
    border-radius: 20px;
    width: 400px;
    gap: 5%;
    overflow: hidden;
}

.bloc-certification .certification .image {
    width: 100%;
}

.bloc-certification .certification .titre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.bloc-certification .certification .titre .lien_certification {
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 90%;
    transition: all 0.5s ease;
    padding: 10px;
    border: none;
    border-radius: 10px;

}

.bloc-certification .certification .titre .lien_certification:before {
    content: '';
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    width: 0%;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.bloc-certification .certification .titre .lien_certification:hover:before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.bloc-certification .certification .titre .lien_certification:hover {
    color: rgb(255, 255, 255);
    border: none;
}

.bloc-certification .certification .titre .lien_certification:active {
    color: rgb(114, 114, 114);
    border: none;
}

.bloc-certification .certification .paragraphe {
    padding: 0% 20% 20% 20%;
    text-align: center;
}

.bloc-certification .certification h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.bloc-certification .certification ul {
    padding: 0% 10% 10% 10%;
}


.bloc-certification .certification li {
    text-align: left;
    list-style: none;
    padding: 10% 5% 0% 0%;
}