html{
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}




.affichage_realisation .titre{
    display: flex;
    justify-content: center;
}


.paragraphe-projet{
    width : 40%;
}

.affichage_realisation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
}

.projet-list {
    display: flex;
    flex-wrap:wrap;
    gap : 9%;
    justify-content: space-around;
}

.projet {
    position :static;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    box-shadow: 3px 3px 3px 3px rgb(186, 186, 186);
    border-radius: 20px;
    margin-bottom: 3%;
    width: 400px;
    height : 400px;
    padding: 1%;
    transition : all 0.25s ease;
}

.projet:hover{
    background-color: rgb(199, 199, 199);
    box-shadow: 3px 3px 3px 3px rgb(122, 122, 122);
}

.projet .titre {
    color : black;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    list-style: none;
    
}

.img-realisation {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width : 60%;
    
}


.date_note {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.fleche_retour_show {
    background: rgb(230, 230, 230);
    position: fixed;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
    border-radius: 10px;
    width: 25px;
    cursor:pointer;
    padding: 20px;
    z-index: 10;
}



.projet_details_show {
    position: fixed;
    background: rgb(230, 230, 230);
    bottom: 0%;
    margin : 10%;
    margin-left:10%;
    margin-bottom : 2%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
    display: wrap;
    flex-wrap: wrap;
    padding: 30px;
    height: 75%;
    overflow: auto;
    z-index: 10;
    border : solid 50px rgb(230, 230, 230)
}


.detail_projet{
    display : flex;
    justify-content: space-around;
}



.titre_projet_detail{
    display: flex;
    justify-content: center;
}
.img_paragraphe_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2%;
}




.img_paragraphe_detail .paragraphe{
    text-align: justify;
}
.img_paragraphe_detail .image{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:35%;
}





.img_paragraphe_detail .paragraphe2{
    text-align: justify;
}
.img_paragraphe_detail .image2{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;
}





.img_paragraphe_detail .paragraphe3{
    text-align: justify;
}
.img_paragraphe_detail .image3{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;
}





.img_paragraphe_detail .paragraphe4{
    text-align: justify;
}
.img_paragraphe_detail .image4{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;  
}





.img_paragraphe_detail .paragraphe5{
    text-align: justify;
}
.img_paragraphe_detail .image5{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;  
}





.img_paragraphe_detail .paragraphe6{
    text-align: justify;
}
.img_paragraphe_detail .image6{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;  
}





.img_paragraphe_detail .paragraphe7{
    text-align: justify;
}
.img_paragraphe_detail .image7{
    position: relative;
    margin: 5%;
    border-radius: 20px; 
    width:60%;
}




.img_paragraphe_detail .paragraphe8{
    text-align: justify;
}
.img_paragraphe_detail .image8{
    position: relative;
    margin: 5%;
    border-radius: 20px;
    width:60%;
}
.projet_details_show .file .button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    position : relative;
    text-decoration: none;
    font-size: 115%;
    transition: all 0.5s ease;
    padding: 10px;
    border : solid 2px;
    border-radius: 10px;
    
}

.projet_details_show .file .button:before{
    content:'';
    background-color: rgb(0, 0, 0);
    top : 50%;
    left : 50%;
    width: 0%;
    z-index :-1;
    opacity : 0;
    transition : all 0.3s;
    transform :translate(-50%,-50%);
    border-radius: 10px;
}

.projet_details_show .file .button:hover:before{
    position : absolute;
    width :100%;
    height : 100%;
    opacity : 1;
}

.projet_details_show .file .button:hover{
    color:rgb(255, 255, 255);
    border : none; 
}

.projet_details_show .file .button:active{
    color: rgb(114, 114, 114);
    border : none;
}





.fa-brands {
    color : #000000;
}



.fleche_retour_hide {
    display: none;
}

.projet_details_hide {
    display: none;
}




